/* 
index page
*/
#inspection-metadata {
    position: relative;
    background-color: rgb(194, 204, 212);
    padding-bottom: 10px;
}


.inspection-metadata-form {
    position: relative;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.input {
    border: 2px;
    border-radius: 3px;
    width: 100%;
}

.input:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    outline: none;
}

#red, #amber, #green {
    width: 20px;
}

#unselected {
    display: none;
}

#to-subcategories {
    width: 100%;

}

#button-to-next {
    position: relative;
    z-index: 99;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);  
    z-index: 10;
    margin-top: 5px;
    margin-bottom: 20px;
}



/* 
questions page
*/

#button-back-start {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}

.docu-img {
    width: 100px;
}

.grid {
    display: flex;
    flex-direction: row;
}

.item {
    width: 150px;
    border: 1px black solid;
    height: 150px;

}


.col {
    cursor: pointer;
    text-align: center;
}


.col:hover {
    opacity: 80%;
}

.col-md-2 {
    text-align: center;
}

#inventoryButton {
    max-width: max-content;
    padding-left: 20px;
    padding-right: 20px;

}

#options {
    padding-bottom: 20px;
    margin-top: 10px;
}

/* 
equipment inspection
*/
#equip-form {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-radius: 5px;
    height: auto;
}

th{
    background-color: #ada5a5;
    width: 20%;
    max-width: 200px;
}

table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    table-layout: auto;

}

.equipment_tracker {
    position: relative;
    width: 100%;
    text-align: center;
    border: black 1px solid;
}

.inspection_tracker {
    position: relative;
    width: 100%;
    text-align: center;
    border: black 1px solid;
}


textarea {
    position: relative;
    top: 20px;
}

.equip-input {
    width: 180px;
}

#rag-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    margin: 5px;
    border: 1px solid black;
    padding: 2px;
}

/*form overlay*/
#overlay {
    margin-top: 10px;
    position: absolute;
    background-color: #a79999;
    z-index: 50;
    left: 50vw;
    top: 8%;
    transform: translateX(-50%);
    display: none;
    border-radius: 5px;
    min-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: black solid 2px;
    max-width: 90% !important;
    width: 550px;
    
}

#exit_overlay {
    position: relative;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
    border-radius: 10px;
    background-color: #2e3192;
    color: white;
    padding: 5px;
}

#save_overlay {
    position: relative;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
    border-radius: 10px;
    background-color: #2e3192;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
}


#export_button {
    position: relative;
    left: 50%;
    margin-bottom: 7px;
    padding: 6px;
    border-radius: 5px;
    transform: translateX(-50%);
    background-color: #0D6EFD;
    color: white;
    font: x-large;
    width: 200px;

}

#export_button:hover {
    background-color: #0B5ED7;
    transition: 400ms;
}

.col {
    min-height: 170px;
    max-width: 160px;
}

label {
    background-color: rgb(223, 220, 220);
    border-radius: 6px;
    padding: 1px;
    margin-bottom: 2px;
    
}

#siteAssets {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 3px;
    background-color: #575252;
    color: white;
    border: white 1px solid;
    
}

#siteAssets:hover {
    background-color: #a79999;
}

#imgcontributions {
    position: absolute;
    height: max-content;
    width: max-content;
    max-width: 80%;
    background-color: #d1cccc;
    left: 50%;
    transform: translate(-50%);
    padding-left: 10px;
    padding-right: 10px;
    border: black 2px solid;
    display: none;
    top: 20%;
    z-index: 99;
}

#exportOptions {
    position: relative;
    border: solid 1px black;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color:#d1cccc;
}


/*camara overlay */
#camaraPreview {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    z-index: 99;
    width: 70%;
    height: max-content;
    background-color: aliceblue;
    border-radius: 5px;
    border: 3px grey solid;
    display: none;
}


.display-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: #575252 2px solid;
    margin-bottom: 1px;
}

video {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}


.camara-options {
    position: relative;
    text-align: center;
    left: 50%;
    width: max-content;
    height: max-content;
    transform: translateX(-50%);
}

#camara-warning {
    color: red
}

.controls {
    position: relative;
    top: 20%;
    width: max-content;
    height: max-content;
}

#take-photo-button {
    position: relative;
    padding: 10px;
    background-color: rgb(114, 182, 202);
    color: white;
    border-radius: 12px;
    margin-bottom: 10px;
}

#camara-select {
    position: relative;
    margin-bottom: 10px;
}

#rotate-camara-button {
    position: relative;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
}